h1{text-align: center;font-family: Roboto Condensed; color:#ffd700;}
body{ background:url(marilyn-monroe.png); background-size: 100%;height:auto}
.test{margin-top: 2000px;}
.down{ color:white; font-size: 30px; position: absolute;margin-top: 400px;}
.down2{position: absolute; margin-left: 240px; margin-top:350px; color:gold;}

.Des{position: absolute; border:30px solid; color: gold; border-radius:150px; border-width:3.5px;}

.Greys-Anatomy{position: absolute; margin-left: 1500px; border:20px  double; color:purple; background-color:gold;}

.Des-Mask{position: absolute; margin-top:1290px;margin-left:1585px; border:5px dotted;  color:#b76e79; background-color:gold}


.video10{position: absolute;margin-top:1460px;margin-left:850px; color:#FFCBA4;}

.video9{position: absolute;margin-top:1200px;margin-left:800px;color:red;}

.video8{position: absolute; margin-top: 1050px; margin-left: 1065px; margin-top: 844px; color:#FC6A03;}

.video7{position: absolute;margin-top: 990px; margin-left: 755px; color:lightpink;}



.video6{position: absolute; margin-top:1620px; margin-left:1114px;}

.video5 {position:absolute; margin-top:1680px; margin-left:565px;}

.video4 {margin-top: 1666px;position: absolute; margin-left:0px;}




.video3 {margin-top: 1000px; margin-left:220px;position: absolute; color:red;}

.video2 {margin-left: 1060px; margin-top:580px; margin-bottom:300px; position: absolute; color:white; }


.video1{ margin-left: 585px; margin-top:585px; margin-bottom:300px; position: absolute; color:silver; }

h3{color:pink;}

h4{color:blue;text-decoration-style: wavy; text-decoration-line: underline overline; text-decoration-color: gold;position: absolute;margin-left: 500px; font-size:20px;}

.For-My-Sister{color:black ;border:3px dashed; color:gold; background:black;  }


 





