body{ background:url( clouds.jpg);  background-size: 100%; height:auto;}
h2{text-align: center;font-family: Tenali Ramakrishna; color:#B65FCF;}
h4{position: absolute;}
.home-screen-src{position: absolute;}

.grandmother{
	position: absolute; margin-left:400px;}

.mom{
	position: absolute; margin-left:800px;}

.mike{
	position: absolute; margin-left:1200px;}

.paragraph{
	position: absolute; margin-top:315px; margin-left: 400px;}

.video1{
	position: absolute; margin-top:335px; margin-left:970px; color:red; }

.video2{
	position: absolute; margin-top:350px; margin-left: 970px; color:black;
}

.video3{
	position: absolute; margin-top:365px; margin-left: 970px; color:blue;
}

.video4{
	position: absolute; margin-top:380px; margin-left: 970px; color:black;
}

.video5{
	position: absolute; margin-top:395px; margin-left: 970px; color:red;
}

.video6{
	position: absolute; margin-top:410px; margin-left:970px; color:#0000b2;
}

.video7{
	position: absolute; margin-top:425px; margin-left:970px; color:brown;
}
.video8{
	position: absolute; margin-top:440px; margin-left:970px; color:blue;
}

.video9{
	position: absolute; margin-top:455px; margin-left:970px; color:black;
}

.videoM1{position: absolute; margin-top:335px; margin-left:1350px; color:grey;
}

.videoM2{position: absolute; margin-top:350px; margin-left: 1350px; color:black;
}

.videoM3{
	position: absolute; margin-top:365px; margin-left: 1350px; color:darkblue;
} 

.videoM4{
	position: absolute; margin-top:380px; margin-left: 1350px; color:#e75480;
}

.videoM5{
	position: absolute; margin-top:395px; margin-left: 1350px; color:white;
}

.videoM6{
	position: absolute; margin-top:410px; margin-left: 1350px; color:blue;
}

.videoM7{
	position: absolute; margin-top:425px; margin-left: 1350px; color:#ffdab9;
}
.videoM8{
	position: absolute; margin-top:440px; margin-left: 1350px; color:black;
}

.videoM9{
	position: absolute; margin-top:455px; margin-left:1350px; color:darkred;
}
.videoG1{
	position: absolute;margin-top:335px; margin-left:570px; color:white;
}